
.footer {
    background-color: #95D7E4;
    height: 150px;
}

.form {
    background-color: #CFE4DF;
    padding: 50px;
}
.providers {
    background-color: #3BAAC8;
    height: 150px;
}
.navbar {
    @media (max-width: 992px) {
        .navbar-expand-lg {
          display: none;
        }
        .navbar-toggler {
          display: block;
        }
        .navbar-nav {
          flex-direction: column;
        }
      }
}